.rootContainer {
   position: fixed;
   bottom: 10px;
   left: 50%;
   transform: translateX(-50%);
}

.elemsWrapper {
   display: flex;
   column-gap: 4px;
}

.button {
   text-transform: capitalize;
   padding: 0.5em 1.25em;
   border: none;
   background-color: rgba(0, 0, 0, 0.34);
}
