html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  width: 250px;
}

.card-img,
.card-img-top {
  max-height: 330px;
  object-fit: cover;
}

div.card-img-top {
  height: 330px;
}

#header_navbar {
  padding: 0.5rem 0;
  background-color: #e4ad09 !important;

  h1 {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 600;
  }
}

.nav-link.active {
  background-color: #555;
  color: #ddd !important;
}

.navbar-nav .nav-link {
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 768px) {
  .navbar-nav .nav-link {
    padding: 8px;
  }
}

@media (max-width: 450px) {
  img {
    width: 100%;
  }
}
