html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  width: 250px;
  box-shadow: 0 2px 5px 0 rgba($color: #000000, $alpha: 0.1),
    0 3px 8px 0 rgba($color: #000000, $alpha: 0.07),
    0 5px 12px 0 rgba($color: #000000, $alpha: 0.03);
}

.card-img,
.card-img-top {
  max-height: 330px;
  object-fit: cover;
}

div.card-img-top {
  height: 330px;
}

#header_navbar {
  padding: 0.5rem 0;

  .navbar-brand {
    cursor: pointer;
  }

  h1 {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 600;
  }

  box-shadow: 0 2px 5px 0 rgba($color: #000000, $alpha: 0.2),
    0 3px 8px 0 rgba($color: #000000, $alpha: 0.09),
    0 5px 12px 0 rgba($color: #000000, $alpha: 0.05);
}

.nav-link {
  transition: 0.3s;

  &:hover {
    background: #ddd;
  }
  &.active {
    background: rgb(36, 137, 212);
    background: linear-gradient(
      0deg,
      rgba(36, 137, 212, 1) 24%,
      rgba(76, 158, 205, 1) 79%,
      rgba(108, 175, 200, 1) 100%
    );
    color: #eee !important;
  }

  @media screen and(min-width: 768px) {
    border-radius: 5px;
    margin-right: 10px;
  }
}

.navbar-nav .nav-link {
  padding-right: 16px;
  padding-left: 16px;
  @media (min-width: 768px) {
    padding: 8px 16px !important;
  }
}

#search_page_collapse {
  &.show {
    height: 14rem;
  }

  &.hide {
    height: 0;
  }
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);

  display: flex !important;
}

@media (max-width: 450px) {
  img {
    width: 100%;
  }
}
