.srch_wpr {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #555;
}

._collapse {
  height: 14rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

._button {
  background-color: transparent;
  border: none;
  box-shadow: none;

  &:active {
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }
}
